/**
 * @file
 * Subtheme specific CSS.
 */


.navbar {
    background-color: #004080;
}

.navbar-main {
    background-color: #004080;
}

#navbar-main {
    background-color: #004080;
}

ul.sf-menu a {
    color: #fff;
    padding: 1em 1.5em 1em 0;
    text-decoration: none;
}

ul.sf-menu a:hover {
    background-color: #364F89;
    color: #fff;
}

ul.sf-menu.menu li {
    margin: 0;
    padding: 0 5px;
    background-color: #004080;
}

ul.sf-menu.menu li:hover {
    background-color: #364F89;
}

a.sf-depth-2 {
    border-style: solid;
    border-width: 2px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-color: #fff;
}

header #search-block-form {
    padding: 5px 15px;
    flex-flow: nowrap;
}

.form-control {
    width: auto;
}

div#block-nysltheme2-search {
    padding-top: 1em;
}

/* div#slick-views-home-page-carousel-block-1-1-slider {
     margin: 0 30px; 
     padding: 0 90px;
     width: 50%; 
} */

button.slick-next.slick-arrow {
    position: fixed;
    left: 48%;
}