/**
 * @file
 * Subtheme specific CSS.
 */


.navbar {
    background-color: #004080;
}

.navbar-main {
    background-color: #004080;
}

#navbar-main {
    background-color: #004080;
}

ul.sf-menu a {
    color: #fff;
}